@mixin borderColor($color, $opacity: false) {
  @if (type-of($color) == color) {
    $color-name: getColorName($color);
    @if $opacity {
      border-color: RGBA(rgbValue($color), $opacity);
      border-color: RGBA($color-name, $opacity);
    } @else {
      border-color: RGB(rgbValue($color));
      border-color: RGB($color-name);
    }
  } @else {
    border-color: $color;
  }
}

@mixin border($borderValue) {
  @if (type-of(nth($borderValue, 3)) == color) {
    border: border-without-var(
      nth($borderValue, 1),
      nth($borderValue, 2),
      nth($borderValue, 3)
    );
    border: border-with-var(
      nth($borderValue, 1),
      nth($borderValue, 2),
      nth($borderValue, 3)
    );
  } @else {
    border: calculateRem(nth($borderValue, 1))
      nth($borderValue, 2)
      nth($borderValue, 3);
  }
}
