@mixin box-shadow($boxshadowValue...) {
  $boxShadowWithVarName: ();
  $boxShadowWithoutVarName: ();

  @each $value in $boxshadowValue {
    $boxShadowCode: ();

    @if (list-separator($value) == comma) {
      @each $var in $value {
        $boxShadowCode: getBoxShadowCode($var);
        $boxShadowWithoutVarName: append(
          $boxShadowWithoutVarName,
          boxShadowWithoutVar(
            map-get($boxShadowCode, "top"),
            map-get($boxShadowCode, "left"),
            map-get($boxShadowCode, "blur"),
            map-get($boxShadowCode, "width"),
            map-get($boxShadowCode, "color"),
            map-get($boxShadowCode, "color-opacity"),
            map-get($boxShadowCode, "inset")
          ),
          "comma"
        );
        $boxShadowWithVarName: append(
          $boxShadowWithVarName,
          boxShadowWithVar(
            map-get($boxShadowCode, "top"),
            map-get($boxShadowCode, "left"),
            map-get($boxShadowCode, "blur"),
            map-get($boxShadowCode, "width"),
            map-get($boxShadowCode, "color"),
            map-get($boxShadowCode, "color-opacity"),
            map-get($boxShadowCode, "inset")
          ),
          "comma"
        );
      }
    } @else {
      $boxShadowCode: getBoxShadowCode($value);
      $boxShadowWithoutVarName: append(
        $boxShadowWithoutVarName,
        boxShadowWithoutVar(
          map-get($boxShadowCode, "top"),
          map-get($boxShadowCode, "left"),
          map-get($boxShadowCode, "blur"),
          map-get($boxShadowCode, "width"),
          map-get($boxShadowCode, "color"),
          map-get($boxShadowCode, "color-opacity"),
          map-get($boxShadowCode, "inset")
        ),
        "comma"
      );
      $boxShadowWithVarName: append(
        $boxShadowWithVarName,
        boxShadowWithVar(
          map-get($boxShadowCode, "top"),
          map-get($boxShadowCode, "left"),
          map-get($boxShadowCode, "blur"),
          map-get($boxShadowCode, "width"),
          map-get($boxShadowCode, "color"),
          map-get($boxShadowCode, "color-opacity"),
          map-get($boxShadowCode, "inset")
        ),
        "comma"
      );
    }
  }
  box-shadow: $boxShadowWithoutVarName;
  box-shadow: $boxShadowWithVarName;
}
