@mixin color($color, $colorName, $opacity: false) {
  @if $color == "inherit" {
    color: $color;
  } @else {
    $color-name: getColorName($color);
    @if $opacity {
      color: RGBA(rgbValue($color), $opacity);
      color: RGBA($color-name, $opacity);
    } @else {
      color: RGB(rgbValue($color));
      color: RGB($color-name);
    }
  }
}

@mixin backgroundColor($color, $colorName, $opacity: false) {
  @if $color == "inherit" {
    background-color: $color;
  } @else {
    $color-name: getColorName($color);
    @if $opacity {
      background-color: RGBA(rgbValue($color), $opacity);
      background-color: RGBA($color-name, $opacity);
    } @else {
      background-color: RGB(rgbValue($color));
      background-color: RGB($color-name);
    }
  }
}
