@function boxShadowWithVar(
  $top,
  $left,
  $blur,
  $width,
  $color,
  $color-opacity: false,
  $inset: false
) {
  $colorVarName: getColorName($color);

  $boxShadowValue: "";

  @if $color-opacity {
    $colorVarName: RGBA(getColorName($color), $color-opacity);
  }

  @if $inset {
    $boxShadowValue: inset
      calculateRem($top)
      calculateRem($left)
      calculateRem($width)
      calculateRem($blur)
      $colorVarName;
  } @else {
    $boxShadowValue: calculateRem($top)
      calculateRem($left)
      calculateRem($width)
      calculateRem($blur)
      $colorVarName;
  }

  @return $boxShadowValue;
}

@function boxShadowWithoutVar(
  $top,
  $left,
  $blur,
  $width,
  $color,
  $color-opacity: false,
  $inset: false
) {
  $colorName: RGB(rgbValue($color));
  $boxShadowValue: "";

  @if $color-opacity {
    $colorName: RGBA(rgbValue($color), $color-opacity);
  }

  @if $inset {
    $boxShadowValue: inset
      calculateRem($top)
      calculateRem($left)
      calculateRem($width)
      calculateRem($blur)
      $colorName;
  } @else {
    $boxShadowValue: calculateRem($top)
      calculateRem($left)
      calculateRem($width)
      calculateRem($blur)
      $colorName;
  }

  @return $boxShadowValue;
}

@function opacityCheck($color) {
  $color-opacity: "";
  @if (alpha($color) < 1) {
    $color-opacity: alpha($color);
  } @else {
    $color-opacity: false;
  }

  @return $color-opacity;
}

@function getBoxShadowCode($boxshadowValue) {
  $getBoxShadowCode: ();

  @if (nth($boxshadowValue, 1) == "inset") {
    $getBoxShadowCode: (
      "top": nth($boxshadowValue, 2),
      "left": nth($boxshadowValue, 3),
      "blur": nth($boxshadowValue, 5),
      "width": nth($boxshadowValue, 4),
      "color":
        rgb(
          red(nth($boxshadowValue, 6)),
          green(nth($boxshadowValue, 6)),
          blue(nth($boxshadowValue, 6))
        ),
      "color-opacity": opacityCheck(nth($boxshadowValue, 6)),
      "inset": true,
    );
  } @else {
    $getBoxShadowCode: (
      "top": nth($boxshadowValue, 1),
      "left": nth($boxshadowValue, 2),
      "blur": nth($boxshadowValue, 4),
      "width": nth($boxshadowValue, 3),
      "color":
        rgb(
          red(nth($boxshadowValue, 5)),
          green(nth($boxshadowValue, 5)),
          blue(nth($boxshadowValue, 5))
        ),
      "color-opacity": opacityCheck(nth($boxshadowValue, 5)),
      "inset": false,
    );
  }

  @return $getBoxShadowCode;
}
