.card-slider-title-arrow {
  @include hide-element();
  @include transition($card-slider-title-arrow-transition);
}

.card-slider-container {
  @include margin-top($card-slider-y-margin);
  @include padding-bottom($card-slider-y-margin);

  &:hover {
    .card-slider-title-arrow {
      @include show-element();
    }

    .card-slider-wrapper {
      .react-multi-carousel-dot-list,
      .react-multiple-carousel__arrow {
        opacity: 1;
      }
    }
  }
}

.card-slider-title-wrapper {
  @include padding(0 $card-slider-title-x-padding);

  a {
    @include color($card-slider-title-color);

    &:hover {
      .card-slider-title-arrow {
        @include translateX($card-slider-title-arrow-translateX);
      }
    }
  }
}

.card-slider-wrapper {
  position: relative;

  .react-multi-carousel-list {
    margin-top: -#{calculateRem($card-slider-control-top-space)};
    padding-top: calculateRem($card-slider-control-top-space);
  }

  .react-multi-carousel-dot-list {
    right: $card-slider-title-x-padding;
    top: 0;
    bottom: auto;
    align-items: center;
    opacity: 0;
    justify-content: flex-end;
    line-height: 1;
    @include transition($card-slider-control-transition);

    > li {
      &.react-multi-carousel-dot--active {
        button {
          opacity: 1;
        }
      }

      button {
        @include backgroundColor($card-slider-control-background-color);
        border: none;
        width: calculateRem($card-slider-control-width);
        height: calculateRem($card-slider-control-height);
        display: block;
        padding: 0;
        opacity: $card-slider-control-opacity;
        @include transition($card-slider-control-transition);
        cursor: default;
        pointer-events: none;
        border-radius: 0;
        margin-right: 2px;
      }
    }
  }

  .react-multiple-carousel__arrow {
    position: absolute;
    top: calculateRem($card-slider-control-top-space);
    bottom: 0;
    height: calc(100% - #{calculateRem($card-slider-control-top-space)});
    width: calculateRem($slider-nav-btn-width);
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    min-height: 1px;
    min-width: 1px;
    border-radius: 0;
    @include backgroundColor(
      $slider-nav-btn-background-color,
      $slider-nav-btn-background-opacity
    );
    opacity: 0;
    @include transition($card-slider-title-arrow-transition);

    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }

    &:before {
      @include color($slider-nav-btn-color);
      width: calculateRem($slider-nav-btn-icon-width);
      @include transition($card-slider-title-arrow-transition);
      @include transform-origin(center);
    }

    &:hover {
      @include backgroundColor(
        $slider-nav-btn-background-color,
        $slider-nav-btn-background-opacity
      );
      &:before {
        @include scale(1.3);
      }
    }
  }

  .react-multi-carousel-list {
    @include padding-left($card-slider-title-x-padding);
    @include padding-right($card-slider-title-x-padding);

    .media-card-container {
      @include padding-left($media-card-container-x-padding);
      @include padding-right($media-card-container-x-padding);
    }
  }
}

.media-card-container {
  position: relative;
  cursor: pointer;
}
