.dropdown-wrapper {
  position: relative;

  .dropdown-list-wrapper {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: calculateRem($dropdown-min-width);
    margin: 0;
    padding: 0;
    left: calculateRem(-$container-x-padding/2);
    @include margin-top($dropdown-arrow-width);
    @include backgroundColor($dropdown-background-color);
    @include color($dropdown-text-color);
    @include border-radius($dropdown-border-radius);
    @include box-shadow($dropdown-box-shadow);
    @include border(1px solid $dropdown-border-color);

    &:before {
      content: "";
      width: 0;
      height: 0;
      @include border-left($dropdown-arrow-width solid transparent);
      @include border-right($dropdown-arrow-width solid transparent);
      @include border-bottom(
        $dropdown-arrow-width solid $dropdown-background-color
      );
      top: calculateRem(-$dropdown-arrow-width);
      position: absolute;
      left: calculateRem($container-x-padding/2);
      z-index: 2;
    }

    &.show {
      display: block;
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      @include border-left(($dropdown-arrow-width + 1) solid transparent);
      @include border-right(($dropdown-arrow-width + 1) solid transparent);
      @include border-bottom(
        ($dropdown-arrow-width + 1) solid $dropdown-border-color
      );
      top: calculateRem(-($dropdown-arrow-width + 1));
      position: absolute;
      left: calculateRem($container-x-padding/2 - 1);
      z-index: 1;
    }

    &.right {
      left: auto;
      right: calculateRem(-$container-x-padding/2);

      &:before {
        left: auto;
        right: calculateRem($container-x-padding/2);
      }

      &:after {
        left: auto;
        right: calculateRem($container-x-padding/2 - 1);
      }
    }

    &.left {
      left: calculateRem(-$container-x-padding/2);
    }

    &.watch-provider-dropdown {
      right: 0;
      left: 0;
      width: 100%;
      @include margin-top($dropdown-arrow-width + 5);
    }
  }

  .dropdown-list-wrappper {
    margin-bottom: 0;

    > li {
      @include border-bottom(1px solid $dropdown-list-border-color);

      &:last-child {
        border-bottom: none;
      }
    }
    .btn {
      text-align: left;
      border: none;
      @include padding(
        $dropdown-list-btn-y-padding $dropdown-list-btn-x-padding
      );
    }

    &.watch-provider-dropdown-list-wrappper {
      height: 100%;
      overflow: auto;
      max-height: calculateRem($dropdown-watch-provider-height);

      li {
        &.active,
        .btn:hover,
        &:focus {
          @include backgroundColor(
            $dropdown-watch-provider-hover-background-color
          );
          @include color($dropdown-watch-provider-hover-color);
        }
      }
    }
  }

  .no-record {
    @include padding($dropdown-list-btn-y-padding $dropdown-list-btn-x-padding);
  }
}
