%media-detail-meta-gradient-border {
  background: $media-detail-meta-title-border-color-1;
  background-image: linear-gradient(
    72deg,
    RGB($media-detail-meta-title-border-color-1) 0%,
    RGB($media-detail-meta-title-border-color-2) 100%
  );
  background: -moz-linear-gradient(
    left,
    $media-detail-meta-title-border-color-1 0%,
    $media-detail-meta-title-border-color-2 100%
  );
  background: -webkit-linear-gradient(
    left,
    $media-detail-meta-title-border-color-1 0%,
    $media-detail-meta-title-border-color-2 100%
  );
  background: linear-gradient(
    to right,
    $media-detail-meta-title-border-color-1 0%,
    $media-detail-meta-title-border-color-2 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$media-detail-meta-title-border-color-1', endColorstr='$media-detail-meta-title-border-color-2',GradientType=1 );
}

%page-banner-poster-img {
  position: relative;
  @include backgroundColor($page-banner-poster-img-bg-color);
  @include padding($page-banner-poster-img-padding);
  @include border-radius($page-banner-poster-img-border-radius);
  @include box-shadow($page-banner-poster-img-box-shadow);
}
