.header-search-wrapper {
  width: calculateRem($header-search-width);
  position: relative;

  .search-btn,
  .search-form-control {
    @include transition($header-search-transition);
  }

  .search-btn {
    position: relative;
    z-index: 2;
    left: calculateRem($header-search-width - $header-search-icon-width + 4px);
    &.show {
      left: 4px;
    }
  }

  .search-form-group-wrapper {
    right: 0px;
    top: calculateRem(-3px);
    position: absolute;
    z-index: 1;

    .search-form-control {
      width: 0;
      border-color: transparent;
      padding-left: 0;
      padding-right: 0;
      background: transparent;
    }

    .icon-wrapper {
      display: none;
    }

    &.show {
      .search-form-control {
        @include padding(
          $input-padding-y $form-group-icon-width $input-padding-y
            ($header-search-icon-width + 4px)
        );
        width: calculateRem($header-search-width);
        @include borderColor($input-border-color);
        @include backgroundColor($input-bg);
      }

      .icon-wrapper {
        display: flex;
        cursor: pointer;
      }
    }
  }
}
