.social-list {
  @include margin-left(-$social-icon-left-right-space);
  @include margin-right(-$social-icon-left-right-space);

  li {
    @include margin-bottom($social-icon-bottom-margin);
    @include padding-left($social-icon-left-right-space);
    @include padding-right($social-icon-left-right-space);

    a {
      width: calculateRem($social-icon-width);
      height: calculateRem($social-icon-height);

      .social-icon {
        line-height: 1;
        @include fontSize($social-icon-font-size);
      }
    }
  }
}
