.media-detail-meta-item {
  @include margin-top($media-detail-meta-title-border-gutter-sapce);

  .title {
    @include color($media-detail-meta-title-color);
    position: relative;

    &::after {
      content: "";
      display: block;
      height: calculateRem(2px);
      @include margin-top($media-detail-meta-title-border-gutter-sapce/4);
      @include margin-bottom($media-detail-meta-title-border-gutter-sapce/2);
      @extend %media-detail-meta-gradient-border;
    }
  }

  .list-unstyled {
    > li:not(:last-child) {
      position: relative;

      &::after {
        content: "";
        display: block;
        height: 1px;
        @include margin-top($media-detail-meta-title-border-gutter-sapce/4);
        @include margin-bottom($media-detail-meta-title-border-gutter-sapce/4);
        @extend %media-detail-meta-gradient-border;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.episode-air-card-wrapper {
  @include padding($episode-air-card-gutter-sapce/2);
  @include margin-bottom($episode-air-card-gutter-sapce);
  @include backgroundColor($episode-air-card-background-color);
  @include border-radius($episode-air-card-border-radius);
  @include box-shadow($episode-air-card-box-shadow);
  overflow: hidden;

  .img-wrapper {
    @include margin(
      (-$episode-air-card-gutter-sapce/2) (-$episode-air-card-gutter-sapce/2)
        $episode-air-card-gutter-sapce/2
    );

    img {
      width: 100%;
    }
  }
}
