.page-banner-wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.page-banner-bg-wrapper {
  .page-banner-img-bg,
  .page-banner-overlay-bg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .page-banner-img-bg {
    max-width: none;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }

  .page-banner-video-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
    display: none;
    @include backgroundColor($page-banner-poster-video-bg-color);

    &.hide-image {
      display: block;
    }

    .page-banner-video-foreground,
    iframe {
      position: absolute;
      pointer-events: none;
      width: 100vw;
      height: 100vh;
    }

    .page-banner-video-foreground {
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    iframe {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (min-aspect-ratio: 16/9) {
        height: 76.25vw;
        width: 340vh;
      }

      @media (max-aspect-ratio: 16/9) {
        width: 247.78vh;
        height: 140vh;
      }
    }
  }

  .page-banner-overlay-bg {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      72deg,
      rgba($black-color, 0.6) 0%,
      rgba($black-color, 0) 102%
    );
    z-index: 2;
  }
}

.page-banner-content-wrapper {
  position: relative;
  padding-bottom: 10vh;
  z-index: 3;
}

.page-banner-info-wrapper {
  @include padding-right($page-banner-info-wrapper-right-padding);

  &.full-width {
    padding-right: 0;
  }
}

.page-banner-poster-img-wrapper {
  @extend %page-banner-poster-img;

  .network-img-wrapper {
    @include backgroundColor($page-banner-poster-img-bg-color);
    @include padding($page-banner-poster-img-padding 0 0);
  }
}

.rating-wrapper {
  width: calculateRem($rating-width);
  @include backgroundColor(
    $rating-wrapper-bg-color,
    $rating-wrapper-bg-opacity
  );
  @include color($rating-wrapper-color);
  @include padding($rating-y-padding $rating-x-padding);
  @include border-left(3px solid $rating-wrapper-color);
}

.page-banner-info-container {
  width: 100%;
  max-width: calculateRem($page-banner-info-container-width);

  &:not(.page-banner-detail-info-container) {
    .description {
      @include multi-line-text-truncate($font-size-base, 1.5, 3);
    }
  }

  &.page-banner-detail-info-container {
    flex: 0 0 auto;
    width: calc(100% - #{calculateRem($page-banner-poster-img-width)});
    max-width: 100%;
  }

  .border-icon,
  .border-text {
    @include border(1px solid $border-icon-color);
    @include border-radius($border-icon-border-radius);
    width: calculateRem($border-icon-dimensions);
    height: calculateRem($border-icon-dimensions);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }

  .border-text {
    @include fontSize($border-text-font-size);
    @include padding(0 $border-text-x-padding);
    font-weight: bold;
    width: auto;
  }

  .media-meta {
    > span {
      @include margin-right($media-meta-space);

      &:last-child {
        margin-right: 0;
      }
    }
    .seperator {
      &:after {
        content: "\2022";
      }
    }

    .media-meta-type {
      .media-meta-child {
        &:not(:last-child) {
          @include margin-right($media-meta-child-space);
          &:after {
            content: "/";
            @include margin-left($media-meta-child-space);
          }
        }
      }
    }
  }
}

.page-banner-poster-wrapper {
  flex: 0 0 auto;
  width: calculateRem($page-banner-poster-img-width);
}
