// Colors
$primary-color: #01b4ff !default;
$primary-darken-5-color: darken($primary-color, 5%) !default;
$primary-darken-10-color: darken($primary-color, 10%) !default;
$primary-lighten-5-color: lighten($primary-color, 5%) !default;
$primary-lighten-10-color: lighten($primary-color, 10%) !default;
$primary-lightest-color: #1abcff !default;

$secondary-color: #1ed5a9 !default;
$secondary-darken-5-color: darken($secondary-color, 5%) !default;
$secondary-darken-10-color: darken($secondary-color, 10%) !default;
$secondary-lighten-5-color: lighten($secondary-color, 5%) !default;
$secondary-lighten-10-color: lighten($secondary-color, 10%) !default;
$secondary-lightest-color: #c0fecf !default;

$danger-color: #dc3545 !default;
$danger-darken-5-color: darken($danger-color, 5%) !default;
$danger-darken-10-color: darken($danger-color, 10%) !default;
$danger-lighten-5-color: lighten($danger-color, 5%) !default;
$danger-lighten-10-color: lighten($danger-color, 10%) !default;
$danger-lightest-color: #ff9ca6 !default;

$warning-color: #ffc107 !default;
$warning-darken-5-color: darken($warning-color, 5%) !default;
$warning-darken-10-color: darken($warning-color, 10%) !default;
$warning-lighten-5-color: lighten($warning-color, 5%) !default;
$warning-lighten-10-color: lighten($warning-color, 10%) !default;
$warning-lightest-color: #ffeaab !default;

$white-color: #ffffff !default;
$white-darken-5-color: darken($white-color, 5%) !default;
$white-darken-10-color: darken($white-color, 10%) !default;
$white-darken-15-color: darken($white-color, 15%) !default;
$white-darken-20-color: darken($white-color, 20%) !default;

$black-color: #000000 !default;
$black-lighten-5-color: lighten($black-color, 5%) !default;
$black-lighten-10-color: lighten($black-color, 10%) !default;
$black-lighten-15-color: lighten($black-color, 15%) !default;
$black-lighten-20-color: lighten($black-color, 20%) !default;

$body-bg-color: $black-lighten-10-color !default;
$body-color: $white-color !default;
$border-color: $white-darken-10-color !default;
$text-muted-color: $white-darken-20-color !default;

$selection-body-bg-color: $primary-color !default;
$selection-body-color: $white-color !default;

$component-active-color: $white-color !default;
$component-active-bg: $primary-color !default;

$variable-prefix: tmdb- !default;

$colors: (
  "primary": rgbValue($primary-color),
  "primary-darken-5": rgbValue($primary-darken-5-color),
  "primary-darken-10": rgbValue($primary-darken-10-color),
  "primary-lighten-5": rgbValue($primary-lighten-5-color),
  "primary-lighten-10": rgbValue($primary-lighten-10-color),
  "primary-lightest": rgbValue($primary-lightest-color),
  "secondary": rgbValue($secondary-color),
  "secondary-darken-5": rgbValue($secondary-darken-5-color),
  "secondary-darken-10": rgbValue($secondary-darken-10-color),
  "secondary-lighten-5": rgbValue($secondary-lighten-5-color),
  "secondary-lighten-10": rgbValue($secondary-lighten-10-color),
  "secondary-lightest": rgbValue($secondary-lightest-color),
  "danger": rgbValue($danger-color),
  "danger-darken-5": rgbValue($danger-darken-5-color),
  "danger-darken-10": rgbValue($danger-darken-10-color),
  "danger-lighten-5": rgbValue($danger-lighten-5-color),
  "danger-lighten-10": rgbValue($danger-lighten-10-color),
  "danger-lightest": rgbValue($danger-lightest-color),
  "warning": rgbValue($warning-color),
  "warning-darken-5": rgbValue($warning-darken-5-color),
  "warning-darken-10": rgbValue($warning-darken-10-color),
  "warning-lighten-5": rgbValue($warning-lighten-5-color),
  "warning-lighten-10": rgbValue($warning-lighten-10-color),
  "warning-lightest": rgbValue($warning-lightest-color),
  "white": rgbValue($white-color),
  "white-darken-5": rgbValue($white-darken-5-color),
  "white-darken-10": rgbValue($white-darken-10-color),
  "white-darken-15": rgbValue($white-darken-15-color),
  "white-darken-20": rgbValue($white-darken-20-color),
  "black": rgbValue($black-color),
  "black-lighten-5": rgbValue($black-lighten-5-color),
  "black-lighten-10": rgbValue($black-lighten-10-color),
  "black-lighten-15": rgbValue($black-lighten-15-color),
  "black-lighten-20": rgbValue($black-lighten-20-color),
) !default;

// Options
$enable-smooth-scroll: true !default;
$enable-rounded: true !default;
$enable-button-pointers: true !default;
$enable-transitions: true !default;
$enable-reduced-motion: true !default;
$enable-grid-classes: true !default;
$enable-important-utilities: true !default;
$enable-negative-margins: false !default;

$base-size: 16px !default;

$spacer: $base-size !default;
$spacers: (
  0: 0,
  1: calculateRem($spacer / 4),
  2: calculateRem($spacer / 2),
  3: calculateRem($spacer),
  4: calculateRem($spacer * 1.5),
  5: calculateRem($spacer * 3),
) !default;

$negative-spacers: if(
  $enable-negative-margins,
  negativify-map($spacers),
  null
) !default;

// $font-size-root effects the value of `rem`, which is used for as well font sizes, paddings and margins
// $font-size-base effects the font size of the body text
$font-size-root: null !default;
$font-size-base: $base-size !default;
$font-size-sm: 14px !default;
$font-size-lg: 20px !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;
$font-weight-bolder: 700 !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$body-text-align: left !default;
$spacer: $base-size !default;
$border-width: 1px !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-base: "Roboto", sans-serif !default;
$font-family-code: $font-family-base !default;

$hr-margin-y: $spacer !default;
$hr-color: inherit !default;
$hr-height: $border-width !default;
$hr-opacity: 0.25 !default;

$legend-margin-bottom: $base-size/2 !default;
$legend-font-size: ($base-size/2) * 3 !default;
$legend-font-weight: null !default;

// scss-docs-start headings-variables
$headings-margin-bottom: $spacer / 2 !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

$h1-font-size: 46px !default;
$h2-font-size: 38px !default;
$h3-font-size: 30px !default;
$h4-font-size: 24px !default;
$h5-font-size: 20px !default;
$h6-font-size: $font-size-base !default;

$h1-font-weight: $font-weight-light !default;
$h2-font-weight: $font-weight-light !default;
$h3-font-weight: $font-weight-normal !default;
$h4-font-weight: $font-weight-normal !default;
$h5-font-weight: $font-weight-bold !default;
$h6-font-weight: $font-weight-bold !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: $base-size !default;

$list-inline-padding: $base-size/2 !default;

// Links
$link-color: $secondary-color !default;
$link-decoration: none !default;
$link-hover-color: $secondary-darken-5-color !default;
$link-hover-decoration: none !default;
$link-transition: color 0.15s ease-in-out !default;

// scss-docs-start type-variables
$dt-font-weight: $font-weight-bolder !default;
$small-font-size: $font-size-sm !default;
$mark-padding: 3px !default;
$mark-bg: $warning-lightest-color !default;
$sub-sup-font-size: 12px !default;

// Code
$code-font-size: $small-font-size !default;
$code-color: $danger-lightest-color !default;

$pre-color: null !default;

$kbd-padding-y: 3px !default;
$kbd-padding-x: 6px !default;
$kbd-font-size: $code-font-size !default;
$kbd-color: $white-darken-15-color !default;
$kbd-bg: $black-color !default;
$nested-kbd-font-weight: $font-weight-bold !default;

// scss-docs-start border-radius-variables
$border-radius: 4px !default;
$border-radius-sm: 3px !default;
$border-radius-lg: 5px !default;
$border-radius-pill: 800px !default;

// scss-docs-start table-variables
$table-cell-padding-y: $base-size/2 !default;
$table-cell-padding-x: $base-size/2 !default;
$table-cell-padding-y-sm: $base-size/4 !default;
$table-cell-padding-x-sm: $base-size/4 !default;
$table-cell-vertical-align: top !default;

$table-color: $body-color !default;
$table-bg: transparent !default;

$table-th-font-weight: null !default;

$table-striped-color: $table-color !default;
$table-striped-bg-factor: 0.05 !default;
$table-striped-bg: rgba($black-color, $table-striped-bg-factor) !default;

$table-active-color: $table-color !default;
$table-active-bg-factor: 0.1 !default;
$table-active-bg: rgba($black-color, $table-active-bg-factor) !default;

$table-hover-color: $table-color !default;
$table-hover-bg-factor: 0.075 !default;
$table-hover-bg: rgba($black-color, $table-hover-bg-factor) !default;

$table-border-factor: 0.1 !default;
$table-border-width: $border-width !default;
$table-border-color: $border-color !default;

$table-striped-order: odd !default;

$table-group-separator-color: currentColor !default;

$table-caption-color: $text-muted-color !default;

$table-bg-scale: -80% !default;

$input-btn-focus-width: 4px !default;
$input-btn-focus-blur: 0 !default;
$input-btn-focus-color: rgba($component-active-bg, 0.25) !default;
$input-error-btn-focus-color: rgba($danger-color, 0.25) !default;

// Buttons
$btn-padding-y: 6px !default;
$btn-padding-x: 12px !default;
$btn-font-family: null !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base !default;
$btn-white-space: null !default; // Set to `nowrap` to prevent text wrapping
$btn-font-weight: $font-weight-bold !default;
$btn-border-width: $border-width !default;
$btn-border-radius: $border-radius !default;
$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;

$btn-padding-y-sm: $base-size/4 !default;
$btn-padding-x-sm: $base-size/2 !default;
$btn-font-size-sm: $font-size-sm !default;
$btn-border-radius-sm: 3px !default;

$btn-padding-y-lg: 12px !default;
$btn-padding-x-lg: $base-size !default;
$btn-font-size-lg: $font-size-lg !default;
$btn-border-radius-lg: 5px !default;

// Grid
$grid-columns: 12;
$grid-gutter-width: 24px;
$grid-row-columns: 6 !default;
$gutters: $spacers !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-max-widths: 100% !default;
$container-x-padding: 60px !default;

// Forms
// Input
$input-padding-x: $btn-padding-x !default;
$input-padding-y: $btn-padding-y !default;
$input-font-size: $font-size-base !default;
$input-font-weight: $font-weight-light !default;
$input-line-height: 1.3 !default;
$input-color: $body-color !default;
$input-bg: $body-bg-color !default;
$input-border-color: $input-color !default;
$input-border-width: 1px !default;
$input-border-radius: $btn-border-radius !default;
$input-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;

$input-focus-color: $input-color !default;
$input-focus-bg: $input-bg !default;
$input-focus-border-color: $input-btn-focus-color !default;
$input-focus-box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width
  $input-btn-focus-color !default;

$input-placeholder-color: $white-darken-10-color !default;
$input-disabled-bg: $black-lighten-20-color !default;
$input-disabled-border-color: $white-darken-20-color !default;

$form-label-font-size: $input-font-size !default;
$form-label-font-weight: $font-weight-bold !default;
$floating-input-padding-x: $btn-padding-x-lg !default;
$floating-input-padding-y: $btn-padding-y-lg !default;
$floating-form-label-initial-position: $floating-input-padding-y !default;
$floating-form-label-transition: transform 0.2s ease-out, color 0.2s ease-out,
  -webkit-transform 0.2s ease-out !default;
$floating-form-label-bg: $input-bg !default;

$form-group-icon-width: 34px !default;
$form-group-icon-height: 34px !default;

$input-error-color: $danger-color !default;
$input-error-focus-box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width
  $input-error-btn-focus-color !default;
$invalid-feedback-font-size: $font-size-sm !default;

// Header
$header-y-padding: $grid-gutter-width/2 !default;
$header-x-padding: 0 !default;
$header-height: 53px !default;
$header-logo-img-width: 150px !default;
$header-logo-right-space: $base-size * 2 !default;
$header-logo-menu-link-color: $white-color !default;
$header-logo-menu-link-spacing: $base-size !default;
$header-logo-menu-link-active-color: $secondary-color !default;
$header-height: 53px !default;
$header-dropdown-opacity: 0.8 !default;
$header-scrolled-background-color: $body-bg-color !default;

// Dropdown
$dropdown-min-width: $base-size * 10 !default;
$dropdown-background-color: $body-bg-color !default;
$dropdown-text-color: $body-color !default;
$dropdown-border-color: $border-color !default;
$dropdown-border-radius: $border-radius !default;
$dropdown-arrow-width: $grid-gutter-width/2 !default;
$dropdown-box-shadow: 0 2px 2px 0 rgba($body-color, 0.14),
  0 3px 1px -2px rgba($body-color, 0.12), 0 1px 5px 0 rgba($body-color, 0.2) !default;
$dropdown-list-btn-x-padding: $base-size/2 !default;
$dropdown-list-btn-y-padding: $base-size/2 !default;
$dropdown-list-border-color: $border-color;

// Language Preference
$language-preferences-x-padding: $base-size/2 !default;
$language-list-wrapper-max-height: 38vh !default;

//Scrollbar
$scrollbar-bg-color: $black-lighten-5-color !default;
$scrollbar-thumb-color: $white-darken-5-color !default;
$scrollbar-webkit-width: 12px !default;

// Header Search
$header-search-transition: all 0.5s ease !default;
$header-search-width: 300px !default;
$header-search-icon-width: 30px !default;

// Page Banner
$page-banner-info-wrapper-right-padding: 60px !default;
$rating-wrapper-bg-color: $black-color !default;
$rating-wrapper-bg-opacity: 0.6 !default;
$rating-wrapper-color: $white-color !default;
$rating-y-padding: 10px !default;
$rating-x-padding: 10px !default;
$rating-width: 120px !default;
$page-banner-info-container-width: 900px !default;

// Login Dropdown
$login-dropdown-wrapper-padding-x: 50px !default;
$login-dropdown-wrapper-padding-y: 32px !default;
$login-dropdown-wrapper-width: 320px !default;

// Login Page
$login-wrapper-width: 450px !default;
$login-wrapper-bg-color: $black-color !default;
$login-wrapper-bg-color-opacity: 0.5 !default;
$login-wrapper-border-radius: $border-radius-lg !default;
$login-wrapper-border: 1px solid $black-lighten-15-color !default;
$login-wrapper-padding-x: 60px !default;
$login-wrapper-padding-y: 40px !default;

// Full Page Loader
$full-page-loader-bg-color: $black-color !default;
$full-page-loader-opacity: 0.5 !default;
$full-page-loader-img-width: 350px !default;
$full-page-loader-img-height: 46px !default;
$loaderFadeIn-width-20: 37px !default;
$loaderFadeIn-width-40: 37px !default;
$loaderFadeIn-width-60: 37px !default;
$loaderFadeIn-width-80: 37px !default;
$loaderFadeIn-width-100: $full-page-loader-img-width !default;

//Toastify
$toastify-toast-error-bg-color: $danger-color !default;
$toastify-toast-error-text-color: $white-color !default;
$toastify-toast-warning-bg-color: $warning-color !default;
$toastify-toast-warning-text-color: $white-color !default;
$toastify-toast-success-bg-color: $secondary-color !default;
$toastify-toast-success-text-color: $white-color !default;

// Header Account Dropdown
$account-dropdown-width: 200px !default;
$account-dropdown-account-img-width: 60px !default;
$account-dropdown-account-img-border-radius: $border-radius !default;

// Card Slider
$card-slider-y-margin: $base-size * 2 !default;
$card-slider-title-color: $body-color !default;
$card-slider-title-arrow-transition: all 0.25s linear !default;
$card-slider-title-arrow-translateX: 10px !default;
$card-slider-title-x-padding: $base-size * 2 !default;
$card-slider-control-top-space: -12px !default;
$card-slider-control-background-color: $body-color !default;
$card-slider-control-width: 12px !default;
$card-slider-control-height: 2px !default;
$card-slider-control-opacity: 0.4 !default;
$card-slider-control-transition: all 0.25s linear !default;
$slider-nav-btn-background-color: $black-color !default;
$slider-nav-btn-background-opacity: 0.3 !default;
$slider-nav-btn-color: $body-color !default;
$slider-nav-btn-width: 40px !default;
$slider-nav-btn-icon-width: 12px !default;

$media-card-container-x-padding: $base-size / 2 !default;
